body {
    height: 100%;
    width: auto;
    margin: 0;
}

html {
    font-family: 'JetBrains Mono', Courier, monospace;
}

h2 {
    font-weight: 900;
}

h5 {
    margin: 0;
    font-weight: 900;
    color: white;
}

.label {
    text-decoration: underline #2f94ff 3px;
}

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroll-container {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar Configuration */

nav {
    width: 100%;
    display: flex;
    gap: 2rem;
    background-color: rgb(228, 228, 228);
    justify-content: center;
    position: fixed;
}

nav a {
    font-size: 20px;
    padding: 1rem;
}

.navlink:visited { text-decoration: none; color:black; }
.navlink { text-decoration: none; color:black; }
.navlink:hover { 
    cursor: pointer;
    text-decoration: underline #2f94ff;
}

/* Switch For Theme */

/* The switch - the box around the slider */
.switch {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 2rem;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    transition: .4s;
}

input:checked + .slider {
    background-color: #303136;
}

input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

/* About Me Configuration */

.about-me {
    justify-content: center;
}

.about-me h1 {
    text-align: center;
}

.about-me h2 {
    text-align: center;
}

.about-me h3 {
    text-align: center;
}

.icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: 4rem;
}

.about-me .icons i:hover {
    color:#5193d9;
    cursor: pointer;
}

.about-me p {
    margin: 0 30%;
}

/* Projects Configuration */

.projects {
    /* margin-top: 40rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70rem; /* Change to 70 for 5 on each line, 60 for 4 */
    gap: 2rem;
    flex: 1;
}

/* Project Panel Configuration */

.project {
    width: 190px;
    height: 275px;
    border-radius: 1rem;
    background: #568bc3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: solid 4px rgb(5, 5, 5);
}

.project:hover {
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0px 5px 10px 5px #88aed6;
}

.project img {
    max-width: 150px;
    height: auto;
    margin: 1rem 0;
}

.project h3 {
    margin: 0;
    padding: 0;
    font-weight: 900;    
}

.text-border {
    text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

.project p {
    margin: 0;
    padding: 8px;
    color: white;
}

#projects {
    zoom: 0.9;
}

/* Contact Configuration */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h2 {
    text-align: center;
}

.contact div i {
    font-size: 3rem;
}

.contact div i:hover {
    color: #2f94ff;
    cursor: pointer;
}

/* Footer Configuration */

.footer {
    margin-top: 20rem;
    /* background-color: rgb(41, 41, 41); */
    background-color: rgb(228, 228, 228);
    text-align: center;
    padding: 0;
    position: fixed;
    bottom: 0px;
    width: 100vw;
}

.footer h5 {
    margin: 0;
    padding: 8px 0;
    color: black;
}