body {
    height: 100%;
    width: auto;
    margin: 0;
}

html {
    font-family: 'JetBrains Mono', Courier, monospace;
}

h2 {
    font-weight: 900;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Navbar Configuration */

nav {
    width: 100%;
    display: flex;
    gap: 7rem;
    background-color: rgb(41, 41, 41);
    color: white;
    justify-content: center;
    position: fixed;
}

nav a {
    font-size: 20px;
    padding: 1rem;
}

nav a:hover {
    cursor: pointer;
    text-decoration: underline #2f94ff;
}

/* About Me Configuration */

.about-me {
    margin-top: 4rem;
    justify-content: center;
}

.about-me h1 {
    text-align: center;
}

.about-me h2 {
    text-align: center;
}

.about-me p {
    margin: 0 30%;
}

/* Projects Configuration */

.projects {
    /* margin-top: 40rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    width: 41.5rem;
    gap: 2rem;
}

/* Project Panel Configuration */

.project {
    width: 190px;
    height: 250px;
    border-radius: 1rem;
    background: #53a1f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: solid 4px rgb(5, 5, 5);
}

.project:hover {
    cursor: pointer;
    transform: translateY(-10px);
}

.project img {
    max-width: 150px;
    height: auto;
    margin: 1rem 0;
}

.project h3 {
    margin: 0;
    padding: 0;
    font-weight: 900;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

.project p {
    margin: 0;
    padding: 8px;
    color: white;
}

/* Contact Configuration */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h2 {
    text-align: center;
}

.contact div i {
    font-size: 3rem;
}

.contact div i:hover {
    color: #2f94ff;
    cursor: pointer;
}

/* Footer Configuration */

.footer {
    margin-top: 1rem;
    background-color: rgb(41, 41, 41);
    color: white;
    text-align: center;
    padding: 0;
}

.footer h5 {
    margin: 8px;
}